<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bluedev_yu.coecho">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoEcho">
        <activity android:name=".FeedDetail"></activity>
        <activity android:name=".UploadFeed" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="78ba50816ec697fc8f5f8d4b36fa29d4"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 사용자 앨범 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>